.satker .satker-body {
    height: 50% !important;

}
.satker .card {
    margin: 7px;
}

.satker-body img {
    height: 150px;
    object-fit: contain;
}

.satker-body p {
    margin-top: 10px;
    min-height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
}



@media (max-width: 660px) {
    .satker-body img {
        height: 80px;
    }
    .satker-body p { display: none; }
}
